@import "tailwindcss";

@font-face {
  font-family: Outfit;
  src: url("./assets//fonts/Outfit-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-cyan-400: rgba(0, 255, 248, 1);
  --color-blue-500: rgba(139, 172, 217, 1);
  --color-blue-800: rgba(46, 64, 90, 1);
  --color-blue-900: rgba(21, 38, 63, 1);
  --color-blue-950: rgba(13, 25, 44, 1);
}

body {
  font-family: "Outfit";
}
